.title-row {
    padding: 2% 0%;
}
.siteLogo {
    width: 150px;
    height: 150px;
    margin-right: 30px;
}

.search-bar {
    width: 40%;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin: 25px 0px;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    transition: 0.3s;
    font-size: 24px;

    text-indent: 60px;
    background-image: url('../images/search.png');
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-position: 1% 60%;
}
.search-bar:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

.card {
    width: 275px;
    margin: 25px;
}